@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

header{
    background-color: pink;
    padding: 32px 0;
    color: #fff;
    display: flex;
    justify-content: center;
}

.insta{
    width: 45px;
}

footer{
    padding: 32px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}

.textox{
    margin-bottom: 16px;
}